.container {
    width: 300px;
  }
  button {
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    border-radius: 50%;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;  
  }